<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"arena-main arena-search-results","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|90"},"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} -->
<main class="arena-main arena-search-results wp-block-group" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--90)">
	<!-- wp:query-title {"type":"search","className":"arena-page-title"} /-->

	<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search again","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"className":"arena-search arena-search--inline"} /-->

	<!-- wp:template-part {"slug":"loop","tagName":"div"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
